body{
    background-color: navajowhite;
    margin: 0;
}
.topnav{
    background-color: darkgrey;
    overflow: hidden;
}
.topnav a{
    color: blue;
    display: flexbox;
    text-decoration: none;
    text-align: left;
    padding: 12px 14px;
}
.topnav-right{
    float: right;
}