body{
    background-color: navajowhite;
    margin: 0;
}
.topnav{
    background-color: darkgrey;
    overflow: hidden;
}
.topnav a{
    color: blue;
    display: flexbox;
    text-decoration: none;
    text-align: left;
    padding: 12px 14px;
}
.topnav-right{
    float: right;
}
.topnav a:hover{
    color: #373737;
    background-color: azure;
    text-decoration: none;
}
.footer{
    background-color: darkgrey;
    padding: 20px;
    font-size: 0.6em;
    text-align: center;
}